.TransactionForm {
    position: relative;
    width: 256px;
    margin: 0 auto 50px auto;
}

.TransactionForm input {
    cursor: pointer !important;
}

.addTransactionButton {
    position: absolute;
    top: -27px;
    right: -62px;
}

.datePicker {
    font-family: "Times New Roman", Times, serif;
}


.datePicker hr {
    display: none;
}

.datePicker input:hover, .categoryPicker:hover {
  animation: shake 0.62s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.categoryPicker-dialog button {
    margin: 10px !important:;
}