.AppHeader {
  background-color: #40423c;
  height: 150px;
  padding: 20px;
  color: white;
  position: relative;
}
.dashboardMonthHidden {
  position: absolute;
  width: 66%;
  left: 16%;
  bottom: 15px;
  overflow: hidden;
}
.dashboardMonth {
  display: flex;
  justify-content: center;
  width: 166%;
  margin-left: -33.2%;
  transition: margin-left 2s;
}

.dashboardMonth.active-0 {
  margin-left: 33.2%;
}
.dashboardMonth.active-1 {
  margin-left: 0;
}
.dashboardMonth.active-2 {
  margin-left: -33.2%;
}
.dashboardMonth.active-3 {
  margin-left: -66.4%;
}
.dashboardMonth.active-4 {
  margin-left: -99.6%;
}

.dashboardMonth button {
    width: 30%;
    height: 24px;
    margin-left:3.5%;
    border: none;
    font-weight: bold;
    color: #e7d67c;
    font-size: 0.9em;
    background: #926d00;
    background: linear-gradient(to bottom, #40423c 20%,#926d00 50%,#926d00 50%,#926d00 58%,#40423c 100%);
    border-radius: 20px 10px;
}

.dashboardMonth button:hover {
    cursor: pointer;
}

button:focus {outline:0;}