:root {
    /*background colors*/
    --bg-color-AppHeader: rgb(64, 66, 60);
    --bg-color-dashboardMonth: rgb(146, 109, 0);
    --bg-color-dashboardMonthGradient: linear-gradient(to bottom, #40423c 20%,#926d00 50%,#926d00 50%,#926d00 58%,#40423c 100%);
    --bg-color-dashboardBalanceGradient: linear-gradient(to bottom, #a3bc4f 20%,#926d00 50%,#926d00 50%,#926d00 58%,#40423c 100%);
    --bg-color-dashboardExpenseGradient: linear-gradient(to bottom, #40423c 20%,#926d00 50%,#926d00 50%,#926d00 58%,#40423c 100%);
    /*dates color*/
    --date-color-dashboardMonth: rgb(231, 214, 124);
}

.AppHeader {
  background-color: var(--bg-color-AppHeader);
  height: 160px;
  padding: 20px;
  color: white;
  position: relative;
}
.dashboardMonthHidden {
  position: absolute;
  width: 66%;
  left: 16%;
  bottom: 15px;
  overflow: hidden;
}
.dashboardMonth {
  display: flex;
  justify-content: center;
  width: 166%;
  margin-left: -33.2%;
  transition: margin-left 1.4s;
  font-size: 1.4rem;
}

.dashboardMonth.active-0 {
  margin-left: 33.2%;
}
.dashboardMonth.active-1 {
  margin-left: 0;
}
.dashboardMonth.active-2 {
  margin-left: -33.2%;
}
.dashboardMonth.active-3 {
  margin-left: -66.4%;
}
.dashboardMonth.active-4 {
  margin-left: -99.6%;
}

.dashboardMonth button {
    width: 30%;
    height: 24px;
    margin-left:3.5%;
    border: none;
    font-weight: bold;
    color: var(--date-color-dashboardMonth);
    font-size: 0.9em;
    background: var(--bg-color-dashboardMonth);
    background: var(--bg-color-dashboardMonthGradient);
    border-radius: 20px 10px;
}

.dashboardMonth button:hover {
    cursor: pointer;
}

button:focus {outline:0;}

.CurrentBalance {
  max-width: 66%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 0 40px 0;
}

.balance, .expense {
  font-size: 1.4em;
  width: 50%;
  text-shadow: 0 10px 20px var(--shadow-color-1), 0 6px 6px var(--shadow-color-2)
}

.balance .text {
  color: #667426;
}

.expense .text {
  color:rgb(139, 0, 0);
}