:root {
    /*background colors*/
    --bg-color-white: rgb(255, 255, 255);
    /*dates color*/
    --date-color-DayHeader: rgb(146, 165, 146);
    --date-color-DayOfWeek: rgb(81, 81, 81);
    --date-color-DayOfMonth: rgb(131, 160, 166);
    /*numbers color*/
    --num-color-DaySum: rgb(139, 0, 0);
    --num-color-TrsSum: rgb(255, 9, 9);
    /*colors for categories' labels*/
    --cat-color-STcategory: rgb(164, 164, 164);
    /*colors for single transactions*/
    --trs-color-STnote: rgb(163, 188, 79);
    /*other colors*/
    --shadow-color-1: rgba(0,0,0,0.19);
    --shadow-color-2: rgba(0,0,0,0.23);
}

.DisplayWrapper {
    max-width: 40%;
    margin: 0 auto;
}

.Day {
    background-color: var(--bg-color-white);
    box-shadow: 0 10px 20px var(--shadow-color-1), 0 6px 6px var(--shadow-color-2);
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.DayWrapper {
    height: 90px;
}

.Day hr {
    width: 90%;
    margin: 0 auto 15px auto !important;
}

.DayHeader {
    font-size: 1.8rem;
    float: left;
    width: 50%;
    text-align: right;
    color: var(--date-color-DayHeader);;
}

.DayDateWrapper {
    float: right;
    width: 50%;
    padding-left: 5px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    top: 42%;
}

.DayOfWeek {
    display: block;
    color: var(--date-color-DayOfWeek);
    font-size: 1.4rem;
}

.DayOfMonth {
    color: var(--date-color-DayOfMonth);
    font-size: 0.8em;
}

.DaySum {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.4rem;
    color: var(--num-color-DaySum);
}

/* SingleTransaction style*/

.SingleTransaction {
    min-height: 50px;
    padding: 5px 30%;
}
.STicon {
    float: left;
}

.STcategory {
    float: left;
    padding-left: 4px;
    color: var(--cat-color-STcategory);
    font-size: 1.4rem;
}

.STsum {
    float: right;
    font-size: 1.2rem;
}

.STnote {
    clear: both;
    color: var(--trs-color-STnote);
}

.trsPos {
    color: var(--trs-color-STnote);
}

.trsNeg {
    color: var(--num-color-DaySum);
}

.STsum.trsNeg {
    color: var(--num-color-TrsSum);
}