:root {
    /*background colors*/
    --bg-color-App: rgb(238, 238, 239);
}

.App {
  text-align: center;
  background: var(--bg-color-App);
  min-height: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}